apis/googleapis.com/gmail/v1/raml_0.8/connectors/connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:oauth2="http://www.mulesoft.org/schema/mule/oauth2" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/oauth2 http://www.mulesoft.org/schema/mule/oauth2/current/mule-oauth2.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <oauth2:token-manager-config name="Token_Manager_Config" doc:name="Token Manager Config"/>
    <http:request-config name="HTTP_Request_Gmail" protocol="HTTPS" host="www.googleapis.com" port="443" basePath="/gmail/v1/users" doc:name="HTTP Request Configuration">
        <oauth2:authorization-code-grant-type clientId="{clientId}" clientSecret="{clientSecret}" redirectionUrl="http://localhost:9000/codeGmail" tokenManager-ref="Token_Manager_Config">
            <oauth2:authorization-request authorizationUrl="https://accounts.google.com/o/oauth2/auth" localAuthorizationUrl="http://localhost:9000/authorizeGmail" scopes="https://mail.google.com/"/>
            <oauth2:token-request tokenUrl="https://accounts.google.com/o/oauth2/token">
            	<oauth2:token-response accessToken="#[prueba.TokenReader.getToken(payload)]"/>
           	</oauth2:token-request>
        </oauth2:authorization-code-grant-type>
        <http:raml-api-configuration location="100apis/gmail/api.raml"/>
    </http:request-config>
    <http:request-config name="HTTP_Request_Gmail_Media_Upload" protocol="HTTPS" host="www.googleapis.com" port="443" basePath="/upload/gmail/{version}/users" doc:name="HTTP Request Configuration">
        <oauth2:authorization-code-grant-type clientId="{clientId}" clientSecret="{clientSecret}" redirectionUrl="http://localhost:9000/codeGmailUpload" tokenManager-ref="Token_Manager_Config">
            <oauth2:authorization-request authorizationUrl="https://accounts.google.com/o/oauth2/auth" localAuthorizationUrl="http://localhost:9000/authorizeGmailUpload" scopes="https://mail.google.com/"/>
            <oauth2:token-request tokenUrl="https://accounts.google.com/o/oauth2/token">
            	<oauth2:token-response accessToken="#[prueba.TokenReader.getToken(payload)]"/>
           	</oauth2:token-request>
        </oauth2:authorization-code-grant-type>
        <http:raml-api-configuration location="100apis/gmail/api.raml"/>
    </http:request-config>
    <flow name="raml-test-gmailFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/gmail" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Gmail" path="/{user_id}/messages" method="GET" doc:name="HTTP">
            <http:request-builder>
            	<http:uri-param paramName="user_id" value="{Your google email}"  />
            </http:request-builder>
            <http:success-status-code-validator values="400,401,200"/>
        </http:request>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="raml-test-gmailUploadFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/gmailUpload" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Gmail_Media_Upload" path="/{user_id}/messages" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="uploadType" value="media"/>
                <http:uri-param paramName="user_id" value="{Your google email}"/>
                <http:header headerName="Content-Type" value="message/rfc822"/>
            </http:request-builder>
            <http:success-status-code-validator values="400,401,200"/>
        </http:request>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>