apis/smartsheet/raml_0.8/connectors/connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:oauth2="http://www.mulesoft.org/schema/mule/oauth2" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/oauth2 http://www.mulesoft.org/schema/mule/oauth2/current/mule-oauth2.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <oauth2:token-manager-config name="Token_Manager_Config" doc:name="Token Manager Config"/>
    <http:request-config name="HTTP_Request_Smartsheet" protocol="HTTPS" host="api.smartsheet.com" port="443" basePath="/1.1" doc:name="HTTP Request Configuration">
<!--       <oauth2:authorization-code-grant-type clientId="{clientId}" clientSecret="{clientSecret}" redirectionUrl="http://localhost:9000/codeSmartsheet" tokenManager-ref="Token_Manager_Config">
            <oauth2:authorization-request authorizationUrl="https://www.smartsheet.com/b/authorize" localAuthorizationUrl="http://localhost:9000/authorizeSmartsheet" scopes="READ_SHEETS,WRITE_SHEETS,SHARE_SHEETS,DELETE_SHEETS,CREATE_SHEETS,ADMIN_USERS,ADMIN_SHEETS,ADMIN_WORKSPACES"/>
            <oauth2:token-request tokenUrl="https://api.smartsheet.com/1.1/token">
            	<oauth2:token-response accessToken="#[prueba.TokenReader.getToken(payload)]"/>
           	</oauth2:token-request>
        </oauth2:authorization-code-grant-type>
-->
        <http:raml-api-configuration location="100apis/smartSheet/api.raml"/>
        
    </http:request-config>
    <flow name="raml-test-smartsheetFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/smartsheet" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Smartsheet" path="/home" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="Authorization" value="Bearer {Your access token}"/>
            </http:request-builder>
            <http:success-status-code-validator values="400,401,200"/>
        </http:request>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>